---
import { Button } from "./ui/button";
import { Card, CardContent, CardFooter } from "./ui/card";
import { SignedIn, SignedOut, SignInButton } from "@clerk/astro/components";

interface Props {
  id: string;
  title: string;
  subtitle: string;
  content: string[];
  price: number;
  userId: string;
}

const { title, subtitle, content, price, userId, id } = Astro.props;
---

<Card className="bg-white border-gray-900 h-full justify-between">
  <CardContent className="flex flex-col gap-4">
    <form
      method="post"
      action="/ready-to-pay"
      enctype="application/x-www-form-urlencoded"
      id={`form-${id}`}
    >
      <div>
        <h2 class="text-3xl font-bold uppercase">{title}</h2>
        <p class="text-xl font-bold text-gray-950">{subtitle}</p>
      </div>
      <input type="hidden" name="userId" value={userId} />
      <input type="hidden" name="productId" value={id} />
      <input type="hidden" name="price" value={price} />
      <input type="hidden" name="productName" value={title} />
      <input type="hidden" name="description" value={subtitle} />
      <ul class="pl-2 list-disc list-inside text-sm text-gray-950">
        {content.map((item) => <li class="text-sm text-gray-950">{item}</li>)}
      </ul>
    </form>
  </CardContent>
  <CardFooter className="flex items-center justify-end gap-4">
    <p class="text-2xl font-semibold">${price}</p>
    <SignedOut>
      <SignInButton mode="modal" asChild>
        <Button
          client:load
          variant="secondary"
          className="cursor-pointer">Inicia Sesión</Button
        >
      </SignInButton>
    </SignedOut>
    <SignedIn>
      <Button
        form={`form-${id}`}
        variant="default"
        type="submit"
        className="cursor-pointer">Inscribirse</Button
      >
    </SignedIn>
  </CardFooter>
</Card>
